{% extends 'base.html.twig' %}
{% block main_id %}presentationEquipe{% endblock %}

{% block body %}
<h1 class="h3 mb-3 font-weight-normal flip-in-hor-top">Présentation de l'équipe :</h1>

<section class="grille">
    <div class="item">
        <div class="contenu-item">
            <a href="https://github.com/TheGeogeo"><img src="{{asset('assets/img/ggg.png')}}" alt="Lien Github de Georges"/></a>
            <h3 class="prenom"><a href="https://github.com/TheGeogeo">Georges</a></h3>
            <p>Proin mattis tellus non libero tristique. Duis mi.</p>
        </div>
    </div>
    <div class="item">
        <div class="contenu-item">
            <a href="https://github.com/JulienIcar45"><img src="{{asset('assets/img/jjj.png')}}" alt="Lien Github de Julien"/></a>
            <h3 class="prenom"><a href="https://github.com/JulienIcar45">Julien</a></h3>
            <p>Proin mattis tellus non libero tristique. Duis mi.</p>
        </div>
    </div>
    <div class="item">
        <div class="contenu-item">
            <a href="https://github.com/nmiton"><img src="{{asset('assets/img/aaa.png')}}" alt="Lien Github de Nathan"/></a>
            <h3 class="prenom"><a href="https://github.com/nmiton">Nathan</a></h3>
            <p>Proin mattis tellus non libero tristique. Duis mi.</p>
        </div>
    </div>
</section>
{% endblock %}
