{% extends 'base.html.twig' %}
{% block main_id %}presentationEquipe{% endblock %}

{% block body %}
<h1 class="h3 mb-3 font-weight-normal tracking-in-contract">Présentation de l'équipe :</h1>

<div class="grille">
    <div class="item">
        <div class="contenu-item scale-in-center">
            <h3 class="prenom"><a href="https://github.com/TheGeogeo">Georges</a></h3>
            <p>Proin mattis tellus non libero tristique. Duis mi.</p>
        </div>
    </div>
    <div class="item">
        <div class="contenu-item scale-in-center">
            <h3 class="prenom"><a href="https://github.com/JulienIcar45">Julien</a></h3>
            <p>Proin mattis tellus non libero tristique. Duis mi.</p>
        </div>
    </div>
    <div class="item">
        <div class="contenu-item scale-in-center">
            <h3 class="prenom"><a href="https://github.com/nmiton">Nathan</a> </h3>
            <p>Proin mattis tellus non libero tristique. Duis mi.</p>
        </div>
    </div>
</div>
{% endblock %}
