<h1>Bonjour, veuillez confirmer votre email:</h1>

<p>
    Veuillez confirmer votre email grâce au lien suivant :<br><a href="{{ signedUrl }}">Confirmer mon email</a>.<br>Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
    {# Veuillez confirmer votre email grâce au lien suivant :<br><a href="{{ signedUrl }}">Confirmer mon email</a>.<br>Ce lien expirera dans 1 heure. #}
</p>

<p>
    Merci!
</p>