{% extends 'base.html.twig' %}

{% block main_id %}game{% endblock %}
{% block body %}
<main>
    {% include "sections_play/overlay.html.twig" %}
    {% include "sections_play/console.html.twig" %}
    {% include "sections_play/actionsType.html.twig" %}
</main>   

{% endblock %}
