{% extends 'base.html.twig' %}

{% block main_id %}game{% endblock %}
{% block body %}
<div>
    {# affichage notification de paye #}
    {% if msg_paye is defined and msg_paye is not null %}
		<div class="alert alert-success">{{ msg_paye }}</div>
	{% endif %}
    {# affichage du message lors de la perte d'un objet #}
    {% if msg_danger is not null %}
		<div class="alert alert-danger">{{ msg_danger }}</div>
	{% endif %}
    {% if value_paye is defined %}
      {% include "sections_play/overlay.html.twig" with {'value_paye': value_paye} %}
    {% else %}
      {% include "sections_play/overlay.html.twig" %}
    {% endif %}
    {% include "sections_play/console.html.twig" %}
    {% include "sections_play/actionsType.html.twig" with {'animal': animal}  %}
</div>   

{% endblock %}
