{% extends 'base.html.twig' %}

{% block main_id %}game{% endblock %}
{% block body %}
<div>
    {% include "sections_play/overlay.html.twig" %}
    {% include "sections_play/console.html.twig" %}
    {% include "sections_play/actionsType.html.twig" %}
</div>   

{% endblock %}
