<section id="console">
    <h2 class="h5 m-3 font-weight-normal">Console :</h2>
    <textarea {% if console is defined %}class="consoleLogMAJ"{% else %}id="console_input"{% endif %} disabled>{% if console is defined %}{{animal.name}}{{console}}.{% else %}Veuillez faire une action pour jouer!{% endif %}</textarea>
</section>



