<section id="console">
    <h2 class="h5 m-3 font-weight-normal">Console :</h2>
    <textarea id="console_input" disabled>{% if console is defined %}{{animal.name}}{{console}}{% else %}{% endif %}</textarea>
</section>



