<h2 class="h5 m-3 font-weight-normal">Mon animal :</h2>
<section id="infosAnimal"> 
        <p><label>Nom :</label> {{animal.name}}</p>
        <p><label>Espèce :</label>  {{animal.AnimalType.name}}</p>
</section>