<section id="overlay">
    {% include "sections_play/portefeuille.html.twig" %}
    {% include "sections_play/infosAnimal.html.twig" %}
    
    {% if animal.AnimalType.name == "Chien" %}
        <section id="stats">
            <div id="stats_animal">
                {% include 'sections_play/stats.html.twig' %}
            </div>
        
            <div id="img_animal">
                {% include "animals/chien.html.twig" %}
            </div>
        </section>
    {% else %}
        <div id="stats_animal">
                {% include 'sections_play/stats.html.twig' %}
        </div>
    {% endif %}
</section>
