{% extends 'base.html.twig' %}

{% block title %}Changer son mot de passe{% endblock %}
{% block main_id %}resetPassword{% endblock %}

{% block body %}
    <h1 class="h3 mb-3 font-weight-normal">Changer son mot de passe :</h1>
    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <div class="text-center">
            <button class="btn" type="submit">Changer mot de passe</button>
        </div>
    {{ form_end(resetForm) }}
{% endblock %}
