{% extends 'base.html.twig' %}

{% block title %}Édiiton animal{% endblock %}
{% block main_id %}animal{% endblock %}
{% block main_class %}edit{% endblock %}

{% block body %}
    <h1 class="h3 mb-3 font-weight-normal">Éditer un animal</h1>

    {{ include('animal/_form.html.twig', {'button_label': 'Enregistrer'}) }}
    {{ include('animal/_delete_form.html.twig') }}

    <div class="text-center">
        <a class="btn" href="{{ path('app_animal_index') }}">Retour</a>
    </div>
{% endblock %}
