{% extends 'base.html.twig' %}

{% block title %}Édiiton animal{% endblock %}
{% block main_id %}animal{% endblock %}
{% block body %}
    <h1>Éditer un animal</h1>

    {{ include('animal/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    <a href="{{ path('app_animal_index') }}">Retour</a>

    {{ include('animal/_delete_form.html.twig') }}
{% endblock %}
