{% extends 'base.html.twig' %}

{% block title %}Nouveau animal{% endblock %}

{% block main_id %}animal{% endblock %}

{% block body %}
    <h1>Créer un nouvel animal</h1>

    {{ include('animal/_form.html.twig') }}

    <a href="{{ path('app_animal_index') }}">Retour</a>

{% endblock %}
