{% extends 'base.html.twig' %}

{% block title %}Nouveau animal{% endblock %}
{% block main_id %}animal{% endblock %}
{% block main_class %}new{% endblock %}

{% block body %}
    <h1 class="h3 mb-3 font-weight-normal">Créer un nouvel animal</h1>

    {{ include('animal/_form.html.twig') }}

    <a class="btn" href="{{ path('app_animal_index') }}">Retour</a>

{% endblock %}
