#action{
    p{
        margin: 1rem;
    }

    #actions_buttons{
        display: flex;
        flex-direction: column;
        text-align: center;

        form{
            button{
                border-radius: 5%;
                padding: 0.75rem;
                margin-bottom: 1rem;
                width: 15rem;
                background-color: $color-blue-one;
                border-color: $color-blue-one;

                &:hover{
                    background-color: $color-bg-altmenu;
                    border-color: $color-bg-alt;
                }
                
                @include respond(lg) {
                    width: auto;
                }
            }

            
            .inventoryBtn{
                background-color: $color-bg-alt;
                border-color: $color-bg-alt;

                &:hover{
                    background-color: $color-blue-one;
                    border: $color-blue-one;
                }
            }
        }

        @include respond(lg) {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            padding: 1rem;
            margin: 2rem;
        }   
    }

    #actions_list{
        table{
            text-align: center;

            .statsNegative{
                background-color: $color-bg-alt;
                color: white;
            }

            .statsPositive{
                background-color: $color-green;
                color: white;
            }

            td{
                vertical-align: middle;
            }
        }
    }
}
