#action{
    p{
        margin: 1rem;
    }

    #actions_buttons{
        display: flex;
        flex-direction: column;
        text-align: center;

        form{
            button{
                border-radius: 5%;
                padding: 0.25rem 0.5rem;
                margin: auto;
                margin-bottom: 1rem;
                width: 50%;

                &:hover{
                    background-color: $color-bg-altmenu;
                    border-color: $color-bg-alt;
                }
                
                @include respond(lg) {
                    width: auto;
                }
            }
        }

        @include respond(lg) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-gap : 1rem
        }
        
    }

    #actions_list {            
        button {
            border-radius: 5%;
        }
    }
}
