#overlay{
    display: flex;
    flex-direction: column;

    p{
        margin: 0.5rem;
    }

    section{
        padding: 1rem;
    }

    .myBorder{
        border: 0.25rem outset;
        border-color: $color-bg-altmenu;
        padding: 1rem;
        margin: 1rem;
    }

    #infosChienJoeur{
        display: flex;
        flex-direction: column;

        #id_animal{
            display: flex;
            justify-content: space-between;
            margin: 1rem 0;
            @include respond(md) {
                flex-direction: column;
            }
        }

        #mon_portefeuille{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            label{
                margin: auto 1rem;
            }

            #grp_input_money{
                display: flex;

                input{
                    width: auto;
                    height: 2.5rem;
                    text-align: right;
                    margin: auto;
                }
            }
        }

        @include respond(md) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    #stats{
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include respond(md) {
            display: grid;
            grid-template-columns: 7fr 3fr;
        }

        #stats_animal{
            @import '_stats.scss';
        } 
    }

    #img_animal{
        width: 50%;
        margin: auto;
    }
}

