#overlay{
    display: flex;
    flex-direction: column;
    
    @import '_statsGrid.scss';

    #mon_portefeuille{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;

        label{
            margin: 1rem;
        }

        #grp_input_money{
            display: flex;

            input{
                width: auto;
                height: 2.5rem;
                text-align: right;
                margin: auto;
            }
        }

        @include respond(md){
            justify-content: end;
        }
    }

    #infosAnimal{
        display: flex;
        flex-direction: row;
        margin: 0 0 0 1rem;

        @include respond(md){
            display: flex;
            flex-direction: column;
        }

        p{
            margin: 1rem;

            @include respond(md){
                margin: 0 0 1rem 1rem;
            }
        }
    }

    #stats{
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include respond(md) {
            display: grid;
            grid-template-columns: 7fr 3fr;
        }
    }

    #img_animal{
        width: 50%;
        margin: auto;
    }


}

