#grid_stats{
    margin: 1rem;

    #grid_stats_col{
        margin: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .icon_label_stats{
            display: flex;
            flex-direction:column;
            justify-content: space-around;
            margin: 0.5rem;
            
            @include respond(md) {
                display: flex;
                flex-direction: row;
            }

            .stat_value{
                margin-top: 1rem;
                color : $color-red;
                font-weight: bolder;
            }

            
            i{
                margin: 0 0 0 0.5rem;

                @include respond(md) {
                    margin: 0;
                }
            }

            .label_icon_stats{
                display: none;

                @include respond(md) {
                    display:block;
                }
            }
        }

        @include respond(md) {
            margin: 1rem;
            display: grid;
            text-align: center;
            grid-template-columns: 1fr 1fr 1fr;
        }

        p{
            display: flex;
            flex-direction: column;
            gap : 1rem;
            width: 50%;

            @include respond(md) {
                margin: 1rem auto;
            }
        }
    }
}