{% extends 'base.html.twig' %}

{% block title %}Magasin{% endblock %}
{% block main_id %}shopInventory{% endblock %}

{% block body %}
<div id="inventaire_magasin">
    <h1 class="h3 mb-3 font-weight-normal">Magasin : </h1>
    <a href="{{path("app_inventory")}}">Inventaire</a>
</div>
<p class="tips"> En ce lieu vous pouvez acheter tous les objets que désire votre adorable meilleur ami mais attention cela coute cher!
{% if shopItems == [] %}
{% elseif shopItems is null %}
    <table class="table table-striped mt-3">
        <thead>
            <th scope="col">Objet</th>
            <th scope="col">Description</th>
            <th scope="col">Conséquences</th>
            <th scope="col">Prix</th>
            <th scope="col"></th>
        </thead>
        <tbody>
            <tr>
                <td data-label="Place" colspan="5">Aïe, il semblerait que le magasin a été dévalisé</td>
            </tr>
        <tbody>
    </table>  
{% else %}
    <table class="table table-striped mt-3">
        <thead>
            <th scope="col">Objet</th>
            <th scope="col">Description</th>
            <th scope="col">Conséquences</th>
            <th scope="col">Prix</th>
            <th scope="col"></th>
        </thead>
        <tbody>
            {% for item in shopItems %}
            <tr>
                <td data-label="Objet">{{item.name}}</td>
                <td data-label="Description">{{item.description}}</td>
                <td data-label="Conséquences">TODO</td>
                <td data-label="Prix">{{item.price}}$</td>
                <td data-label="">
                {% if item.price <= app.user.getMoney() %}
                    <a href="#">Acheter</a>

                {% else %}
                    Trop cher
                {% endif %}
                </td>
            </tr>
            {% endfor %}
        <tbody>
    </table>  
{% endif %}
{% endblock %}
