#game{

    a{
        border-radius: 5%;
        color: white;
        text-decoration: none;
        padding: 0.4rem 0.8rem;
        background-color: $color-bg-alt;
    }

    a:hover{
        background-color: $color-bg-altmenu;
    }

    .argentGagnePaye{
        color : white;
        padding: 0.6rem;
        border-radius: 5%;
        margin: 0.5rem;
        background-color: $color-success;
    }

}