#leaderboard{
    section {
        display: flex;
        flex-direction: column;
        form{
            button{
                margin: 1rem;
                background-color: $color-bg-altmenu;
                color: white;
            }
        }
        
        @include respond(md){
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    }
}