#profile_user{

    p{
        font-size: 1.25rem;
        font-weight: 400;
    }

    button:hover{
        background-color: $color-bg-alt;
    }

    section{
        margin: 3rem auto;

        form{
            margin : 1rem;
            ul{
                list-style: none;
                margin: 1rem;
                li{
                    color :$color-bg-altmenu; 
                }
            }
            label{
                margin: 0.5rem;
            }
    
            input{
                margin: 0.25rem;
            }
        }
        button {
            margin: 1rem;
            background-color: $color-bg-altmenu;
            color: white;
        }
    }

    #verif_my_mail{
        margin: 3rem auto;
        border: 0.25rem outset;
        border-color: $color-bg-altmenu;
        margin: 2rem auto;
        padding: 1rem;
    }
}

#changePseudo{
    form{
        margin : 1rem;
        ul{
            list-style: none;
            margin: 1rem;
            li{
                color :$color-bg-altmenu; 
            }
        }
        label{
            margin: 0.5rem;
        }

        input{
            margin: 0.25rem;
        }
    }
    button {
        margin: 1rem;
        background-color: $color-bg-altmenu;
        color: white;
    }
}

#my_money{
    display: flex;
    flex-direction: column;

    .form-group{

        margin :1rem;

        label {
            margin : 0 0 1rem 0;
        }

        input{
            width: auto;
            margin: 1rem auto;
            text-align: center;
            padding: 0.5rem 1rem;
            font-size: 1.25rem;
            border-color: $color-bg-altmenu;
            color: white;
            background-color: $color-bg-altmenu;
        }
    }
}

