#resetPassword{
    form{
        margin : 1rem;
        label{
            margin: 0.5rem;
        }
        input{
            margin: 0.25rem;
        }
        p{
            margin: 1rem;
        }
        button {
            margin: 1rem auto;
            background-color: $color-bg-altmenu;
            color: white;
        }
    }
    p{
        margin: 1rem auto;
    }
}