#shopInventory{

    #overlay_shopInventory{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        margin: 1rem 0;

        a{
            border-radius: 5%;
            color: white;
            text-decoration: none;
            padding: 1rem;
            background-color: $color-bg-altmenu;
        }

        a:hover{
            background-color: $color-bg-alt;
        }
        
        #mon_portefeuille{
            display: flex;
            flex-direction: row;
    
            label{
                margin: auto 1rem;
            }
    
            #grp_input_money{
                display: flex;
                
                .argentPerduApresAchat{
                    color : white;
                    padding: 0.6rem;
                    border-radius: 5%;
                    margin: 0.5rem;
                    background-color: $color-bg-altmenu;
                }
                input{ 
                    width: auto;
                    height: 2.5rem;
                    text-align: right;
                    margin: auto;
                }
            }
        }    
    }

    #inventaire_magasin{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        a{
            border-radius: 5%;
            color: white;
            text-decoration: none;
            padding: 1rem;
            background-color: $color-bg-alt;
        }

        a:hover{
            background-color: $color-bg-altmenu;
        }
    }
    
    .tips{
        margin: 1.5rem auto;
    }
}




