#shopInventory{

    h2{
        @include respond(md){
            margin: 1rem 0;
        }
    }

    #select_type_action{
        label{
            margin: 1rem 0;
        }
        
        button{
            border-radius: 10%;
            color: white;
            text-decoration: none;
            padding: 0.5rem;
            background-color: $color-bg-alt;
            width:5rem;
            margin: 1.5rem 0;
            text-align: center;

            &:hover{
                background-color: $color-bg-altmenu;
            }

            @include respond(lg){  
                float: right;
            }

        }
    }
    #overlay_shopInventory{
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        margin: 1rem 0;

        @include respond(md){  
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        a{
            border-radius: 5%;
            color: white;
            text-decoration: none;
            padding: 1rem;
            background-color: $color-bg-alt;
            width: 12.5rem;
            margin:auto;
            text-align: center;
            font-weight: 400;

            @include respond(md){  
                width: auto;
                margin: 0;
            }

        }

        a:hover{
            background-color: $color-bg-altmenu;
        }
        
        #mon_portefeuille{
            display: flex;
            flex-direction: row;
            margin: 1.5rem 0 0 0;
            justify-content: space-between;

            @include respond(md){
                justify-content: baseline;
                margin: 0;
            }
    
            label{
                margin: auto 1rem;
            }
    
            #grp_input_money{
                display: flex;
                
                .argentPerduApresAchat{
                    color : white;
                    padding: 0.6rem;
                    border-radius: 5%;
                    margin: 0.5rem;
                    background-color: $color-bg-altmenu;
                }
                input{ 
                    width: auto;
                    height: 2.5rem;
                    text-align: right;
                    margin: auto;
                }
            }
        }    
    }

    #inventaire_magasin{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        a{
            border-radius: 5%;
            color: white;
            text-decoration: none;
            padding: 1rem;
            background-color: $color-bg-alt;
        }

        a:hover{
            background-color: $color-bg-altmenu;
        }
    }
    
    .tips{
        margin: 1.5rem auto;
    }
}