#shopInventory{

    #mon_portefeuille{
        display: flex;
        flex-direction: row;
        margin: 2rem auto;
        justify-content: end;

        label{
            margin: auto 1rem;
        }

        #grp_input_money{
            display: flex;

            input{ 
                width: auto;
                height: 2.5rem;
                text-align: right;
                margin: auto;
            }
        }
    }

    #inventaire_magasin{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    
        a{
            border-radius: 5%;
            color: white;
            text-decoration: none;
            padding: 1rem;
            background-color: $color-bg-alt;
        }

        a:hover{
            background-color: $color-bg-altmenu;
        }
    }
    
    .tips{
        margin: 1.5rem auto;
    }
}




