<div class="chien" id="chien">
    <div class="tete">
    <div class="oreille oreille_gauche"></div>
    <div class="oreille oreille_droite"></div>
    <div class="face">
    <div class="oeil oeil_gauche">
    <div class="pupilles"></div>
    <div class="paupiere"></div>
    </div>
    <div class="oeil oeil_droit">
    <div class="pupilles"></div>
    <div class="paupiere"></div>
    </div>
    <div class="museau">
    <div class="truffe">
    <div class="narine narine_gauche"></div>
    <div class="narine narine_droite"></div>
    </div>
    <div class="bouche">
    <div class="langue"></div>
    </div>
    </div>
    </div>
    </div>
    <div class="corps">
    <div class="patte patte_gauche"></div>
    <div class="patte patte_droite"></div>
    </div>
    <div class="queue"></div>
</div>