<section id="action">
    <p class="mb-3 font-weight-normal">Type d'actions :</p>
    <div id="actions_buttons">
        <button class="btn btn-info">SORTIR</button>
        <button class="btn btn-primary">S'OCCUPER</button>
        <button class="btn btn-primary">DONNER A MANGER</button>
        <button class="btn btn-primary">DONNER A BOIRE</button>
        <button class="btn btn-danger">Inventaire</button>
    </div>
    {% include "sections/liste_actions.html.twig" %}
</section>