<section id="action">
    <p class="mb-3 font-weight-normal">Type d'actions :</p>
    <div id="actions_buttons">
        <form action="#">
            <button class="btn btn-info">SORTIR</button>
        </form>
        <form action="#">
            <button class="btn btn-primary">S'OCCUPER</button>
        </form>
        <form action="#">
            <button class="btn btn-primary">DONNER A MANGER</button>
        </form>
        <form action="#">
            <button class="btn btn-primary">DONNER A BOIRE</button>
        </form>
        <form action="{{path("app_inventory")}}">
            <button class="btn btn-danger">Inventaire</button>
        </form>
    </div>
    {# {% include "sections/liste_actions.html.twig" %} #}
</section>