<section id="console">
    <p class="mb-3 font-weight-normal">Console :</p>
    <textarea id="console_input" disabled>{{animal.name}} le {{animal.AnimalType.name|lower}} est content</textarea>
</section>