<div id="inventaire">
    <div id="inventaire_magasin">
        <p class="mb-3 font-weight-normal"> Inventaire : </p>
        <button class="btn btn-danger">Magasin</button>
    </div>
    <table class="table table-striped mt-3">
        <thead>
            <th scope="col">Objet</th>
            <th scope="col">Description</th>
            <th scope="col">Conséquences</th>
        </thead>
        <tbody>
            <tr>
                <td data-label="Objet">Balle de tennis</td>
                <td data-label="Description">Balle jaune pour jouer à la raquette</td>
                <td data-label="Conséquences">Stats</td>
            </tr>
        </tbody>
    </table>    
</div>