<div id="actions_list">
    <p class="mb-3 font-weight-normal">Listes des actions disponibles :</p> 
    <table class="table table-striped mt-3">
        <thead>
            <th scope="col">Lieux</th>
            <th scope="col">Conséquences</th>
            <th scope="col">Action</th>
        </thead>
        <tbody>
            <tr>
                <td data-label="Lieux">Promenade au parc</td>
                <td data-label="Conséquences">+10 Bonheur / -25 Énergie</td>
                <td data-label=""><button class="btn btn-light">Sortir</button></td>
            </tr>
        <tbody>
    </table>  
</div>