<div id="magasin">
    <p class="mb-3 font-weight-normal"> Magasin : </p>
    <p class="mt-3"> En ce lieu vous pouvez acheter tous les objets que désire votre adorable meilleur ami mais attention cela coute cher!
    
    <table class="table table-striped mt-3">
        <thead>
            <th scope="col">Objet</th>
            <th scope="col">Description</th>
            <th scope="col">Conséquences</th>
            <th scope="col">Prix</th>
            <th scope="col">Acheter</th>
        </thead>
        <tbody>
            <tr>
                <td data-label="Objet">Balle de tennis</td>
                <td data-label="Description">Balle jaune pour jouer à la raquette</td>
                <td data-label="Conséquences">Stats</td>
                <td data-label="Prix">150 pesos</td>
                <td data-label=""><button class="btn btn_rouge">Acheter</button></td>
            </tr>
        <tbody>
    </table>  
</div>