<section id="overlay">
    <section id="infosChienJoeur">
        <div id="id_animal">
            <p>Nom de votre animal: {{animal.name}}</p>
            <p>Espèce: {{animal.AnimalType.name}}</p>
        </div>
        <div id="mon_portefeuille">
            <label>Mon portefeuille :</label>
<<<<<<< HEAD

=======
>>>>>>> a31228a710bf7d737cca0580558add82468a9d05
            <div id="grp_input_money">
                <input class="form-control" type="text" id="money" disabled value="{{animal.user.money}}" name="money" required size="10">
                <label>pesos</label>
            <div>
        </div>
    </section>
    <section id="stats">
        <div id="stats_animal">
            {% include 'sections/stats.html.twig' %}
        </div>
        <div id="img_animal">
            {% include "animaux/chien.html.twig" %}
        </div>
    </section>
</section>
