<!DOCTYPE html>
<html lang="fr">
<head>
	<title>{% block title %}KIA{% endblock %}</title>
	<link rel="icon" href="{{ asset('assets/img/logo.png') }}" />
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/styles.min.css') }}"/> 
    {% endblock %}

    {% block javascripts %}
	    <script src="https://kit.fontawesome.com/09fd5d589b.js" crossorigin="anonymous" defer></script>	
        <script src="{{ asset('assets/js/script.js') }}" defer></script>
    {% endblock %}
</head>
<body>
    {% include 'layout/header.html.twig' %}
    <main id="{% block main_id %}{% endblock %}"class="container {% block main_class %}{% endblock %}">
        {% block body %}

        {% endblock %}
    </main>
    {# {% include 'layout/main.html.twig' %} #}
    {% include 'layout/footer.html.twig' %}
</body>
</html>
