{% extends 'base.html.twig' %}

{% block title %}Erreur 404{% endblock %}
{% block main_id %}error404{% endblock %}
{% block main_class %}errorPage{% endblock %}

{% block body %}
    <section>
        <h1>Erreur 404</h1>
        <h2>UH OH! Vous êtes perdu!</h2>
        <p>La page que vous souhaitez consulter n'existe pas.
            Mais vous pouvez cliquer sur le bouton ci-dessous pour être redirigé vers l'accueil.
        </p>
    </section>
    <div class="text-center">
        <a class="btn_accueil" href="{{ path("app_home") }}">Accueil</a>
    </div>
{% endblock %}