<footer>
    <nav id="footer">
        <ul>
            <li><a href="{{ path("app_mentions_legales") }}">Mentions légales</a></li>
            <li><a href="{{ path("app_regles-du-jeu") }}">Règles du jeu</a></li>
            <li><a href="{{ path("app_presentation_equipe") }}">Présentation du groupe</a></li>
        </ul>
    </nav> 
</footer>