{% extends 'base.html.twig' %}

{% block title %}Edit AnimalType{% endblock %}

{% block body %}
    <h1>Edit AnimalType</h1>

    {{ include('animal_type/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_animal_type_index') }}">back to list</a>

    {{ include('animal_type/_delete_form.html.twig') }}
{% endblock %}
