{% extends 'base.html.twig' %}

{% block title %}Nouveau type d'animaux{% endblock %}
{% block main_id %}animal_type{% endblock %}
{% block main_class %}new{% endblock %}

{% block body %}
    <h1 class="h3 mb-3 font-weight-normal">Ajouter un type d'animaux</h1>

    {{ include('animal_type/_form.html.twig') }}

    <a class="btn" href="{{ path('app_animal_type_index') }}">Retour</a>
{% endblock %}
