{% extends 'base.html.twig' %}

{% block title %}Nouveau type d'animaux{% endblock %}
{% block main_id %}animal_type{% endblock %}

{% block body %}
    <h1>Ajouter un type d'animaux</h1>

    {{ include('animal_type/_form.html.twig') }}

    <a href="{{ path('app_animal_type_index') }}">Retour</a>
{% endblock %}
